# Development dependencies
absolufy-imports~=0.3.1
black[jupyter]~=23.3.0
coloredlogs~=15.0.1
invoke~=2.1.2
ipython-autotime~=0.3.1
jupyter~=1.0.0
jupyterlab~=4.0.0
matplotlib~=3.7.1
pre-commit~=3.3.2
pydantic~=1.10.2
pytest~=7.3.1
pytest-bdd~=6.1.1
pytest-clarity~=1.0.1
pytest-cov~=4.1.0
pytest-vcr~=1.0.2
pytest-xdist~=3.3.1
ruff~=0.0.259